# Copyright lowRISC contributors.
#
# SPDX-License-Identifier: MIT

[tool.poetry]
name = "opentitan"
version = "0.0.0"
description = "Open-source hardware root-of-trust"
authors = []

[tool.poetry.dependencies]
python = "^3.10"

# Polyfill libraries
importlib-resources = {version = "1.4.0"}

# Keep sorted.
beautifulsoup4 = {version = "4.12.2"}
hjson = {version = "3.1.0"}
libclang = {version = "16.0.0"}
libcst = {version = "=1.1.0"}
lxml = {version = "5.0"}
mako = {version = "1.1.6"}
ninja = {version = "1.11.1.1"}
pluralizer = {version = "1.2.0"}
pycryptodome = {version = "3.15.0"}
pyelftools = {version = "0.29"}
pytest-timeout = {version = "2.1.0"}
pytest = {version = "7.0.1"}
pyyaml = {version = "6.0.2"}
rich = {version = "12.6.0"} # maximum version compatible with Python 3.6.8 (used on CentOS7 nightly regression machines)
semantic-version = {version = "2.10.0"}
tabulate = {version = "0.8.10"}
typer = {version = "0.6.1"}

# Dependencies: jsonschema, required for bitstreams cache
jsonschema = {version = "4.17.3"}

# Dependencies: gen-flash-img.py
pyfinite = {version = "1.9.1"}

# Dependencies: dvsim
enlighten = {version = "1.10.2"}
mistletoe = {version = "0.9.0"}
# Premailer 3.9.0 broke the API by introducing an allow_loading_external_files
# argument that is now mandatory, but didn't exist in previous versions.
# To relax the constraint we either need to do a runtime detection, or switch all
# users to a newer version.
premailer = {version = "3.8.0"}

# Dependencies: check_dif_statuses.py
pydriller = {version = "2.1"}
termcolor = {version = "1.1.0"}

# Linters
flake8 = {version = "7.1"}
isort = {version = "5.10.1"}
mypy = {version = "0.971"}
yapf = {version = "0.32.0"}

# Type stubs for mypy checking.
types-pyyaml = {version = "6.0.11"}
types-tabulate = {version = "0.8.11"}

# Dependency of sw/host/vendor/google_verible_verilog_syntax_py
anytree = {version = "2.8.0"}

# Development version with OT-specific changes
fusesoc = {url = "https://github.com/lowRISC/fusesoc/archive/refs/tags/ot-0.5.dev0.zip"}

# Development version with OT-specific changes
edalize = {url = "https://github.com/lowRISC/edalize/archive/refs/tags/v0.4.0.zip"}

# Development version of minimal ChipWhisperer toolchain with latest features
# and bug fixes. We fix the version for improved stability and manually update
# if necessary.
chipwhisperer = {url = "https://github.com/newaetech/chipwhisperer-minimal/archive/2643131b71e528791446ee1bab7359120288f4ab.zip"}

tockloader = {version="=1.13"}
